.overskrift_logo{
    font-family: 'Arapey', serif;
    font-size: 90px;
    text-align: center;
    margin-top: 20%;
}

/*video*/
body, html {
    margin: 0;
    overflow: hidden;
  }
  
  video.video_file {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
/*video*/


  @media (max-width: 800px) {
    .overskrift_logo{
        font-family: 'Arapey', serif;
        font-size: 90px;
        text-align: center;
        margin-top: 35%;
    } 
  }