.projekter_overskrift{
  font-size: 60px;
  padding-top: 100px;
}
  
.fotos_siden {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: flex-end; /* Justerer indholdet til højre */
  margin-top: 100px;
  margin: 20px;
  gap: 20px;
  padding-right: 300px;
}

.foto_1{
  padding-right: 877px;
  margin: 20px;
}


@media screen and (max-width: 4500px){
.web_billeder {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-items: center;
    gap: 3em;
  }
  }